.filter{
    margin-left: 94px;
}

.fiterPara {
  margin-bottom: 23px;
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: bold;
  color: #192024;
}

.checkBoxes {
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
.checkBox{
    display: inline-block;
}

.chBox {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.chBoxLabel {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}
